name: CI
on:
  push:
    branches: ['!main']
jobs:
  lint-and-breaking-change-detection:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: bufbuild/buf-setup-action@v1.42.0
      - name: Lint
        uses: bufbuild/buf-lint-action@v1
        with:
          input: github-actions
      - name: Breaking change detection against `main`
        uses: bufbuild/buf-breaking-action@v1
        with:
          input: github-actions
          against: https://github.com/nrf110/connectrpc-warrant.git#branch=main,ref=HEAD~1